body,
h1,
h2,
h3,
p,
ul {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Georgia, serif;
  color: #252525;
}

* {
  box-sizing: border-box;
}

a, a:link {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container::after,
.container::before {
  content: "";
  display: table;
  clear: both;
}

.top {
  background: #252525;
  padding: 20px 0;
}

.top-content {
  max-width: 960px;
  margin: 0 auto;
}

.top-content::after,
.top-content::before {
  content: "";
  display: table;
  clear: both;
}

a.top-content {
  display: block;
  float: left;
  margin-left: 10px;
}

.main-menu {
  float: right;
  margin-right: 10px;
}

.main-menu li {
  display: inline-block;
}

.main-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.125em;
}

/*! Intro */
.intro {
  background: url("../img/bg-intro.jpg") no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: #fff;
}
.intro h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.intro h1::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background: #fff;
  margin: 10px auto;
}

.intro p {
  font-style: italic;
  font-size: 1.125em;
}

/* Sobre */
.sobre {
  padding: 60px 0;
}
.sobre h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 60px;
}

.sobre-item {
  width: 460px;
  float: left;
  margin: 0 10px;
}
.sobre-item img {
  display: block;
  max-width: 100%;
}
.sobre-item h3 {
  font-size: 2.25em;
  line-height: 1em;
  background: #252525;
  width: 220px;
  color: #fff;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  padding: 5px 0 10px 0;
  top: -25px;
  position: relative;
}

.sobre > p {
  font-size: 1.125em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}

.produtos {
  background: #e7e4d8;
  padding: 60px 0;
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
}

.prod-item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

.prod-item h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 20px;
}

.prod-item h2::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor;
  border-radius: 50%;
  margin: 20px auto;
  border: 5px solid #e7e4d8;
  box-shadow: 0 0 0 5px currentColor;
}

h2.paulista::before {
  color: #492901;
}

h2.carioca::before {
  color: #c17139;
}

h2.mineiro::before {
  color: #d7a54d;
}

.prod-item p {
  font-size: 0.875em;
  line-height: 1.4em;
}

.btn-prod {
  width: 180px;
  border: 3px solid #252525;
  color: #252525;
  text-decoration: none;
  display: block;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 0;
}

.locais {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.l-item {
  clear: both;
  margin: 60px auto;
}

.l-item::after, .locais-item::before {
  display: table;
  content: "";
  clear: both;
}

.l-item img {
  width: 460px;
  display: block;
  float: left;
  margin: 0 10px;
}

.l-item > div {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.l-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}

.l-item p {
  font-size: 1.125em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom: 40px;
}

.l-item a {
  font-size: 1.125em;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  color: #252525;
  padding: 10px 20px;
}

.newsletter {
  background: #e7e4d8;
  padding: 30px 0;
}

.news-info {
  width: 460px;
  margin: 0 10px;
  float: left;
}
.news-info h2 {
  font-size: 2.25em;
}
.news-info p {
  font-size: 1.5em;
  font-style: italic;
}

.news form {
  width: 460px;
  margin: 10px 10px 0 10px;
  float: left;
}

.news form label {
  display: none;
}

.news input {
  width: 320px;
  border: 3px solid #252525;
  background: none;
  font-size: 1.5em;
  font-style: italic;
  font-family: Georgia, serif;
  padding: 10px;
  float: left;
}

.news button {
  background: #252525;
  border: none;
  font-family: Georgia, serif;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 140px;
  padding: 13px 0;
  color: #fff;
  cursor: pointer;
}

.main-footer {
  background: #d6d3c8;
  padding: 15px 0;
}
.main-footer p {
  float: left;
  margin: 0 10px;
  font-size: 1.125em;
  line-height: 1.4em;
}
.main-footer img {
  float: right;
  margin: 0 10px;
  display: block;
}

@media only screen and (max-width: 739px) {
  .main-menu {
    float: none;
    clear: both;
  }

  .intro {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 740px) and (max-width: 980px) {
  .sobre .sobre-content {
    width: 100%;
    max-width: 780px;
  }

  .sobre-item {
    width: 350px;
  }
}