/* Sobre */

.sobre {
  padding: 60px 0;

  h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
  }
}

.sobre-item {
  width: 460px;
  float: left;
  margin: 0 10px;

  img {
    display: block;
    max-width: 100%;
  }

  h3 {
    font-size: 2.25em;
    line-height: 1em;
    background: $darkbrown;
    width: 220px;
    color: #fff;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    top: -25px;
    position: relative;
  }
}

.sobre > p {
  font-size: 1.125em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}

@media (min-width: 740px) and (max-width: 980px) {
  .sobre .container {
    width: 720px;
  }
  .sobre-item {
    width: 340px;
  }
}

@media (max-width: 739px) {
  .sobre .container {
    max-width: 300px;
  }
  .sobre-item {
    width: 300px;
    margin: 0 auto;
  }
}
