.top {
  background: $darkbrown;
  padding: 20px 0;
}

.top-content {
  max-width: 960px;
  margin: 0 auto;
}

.top-content::after,
.top-content::before {
  content: "";
  display: table;
  clear: both;
}

a.logo {
  display: block;
  float: left;
  margin-left: 20px;
}

// menu

.main-menu {
  float: right;
  margin-right: 10px;
}

.main-menu li {
  display: inline-block;
}

.main-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.125em;
}

@media (max-width: 739px) {
  .top {
    text-align: center;
  }

  a.logo {
    float: none;
    margin: 0 auto;
  }

  .main-menu {
    float: none;
    clear: both;
  }
}
