.produtos {
  background: $bgsec;
  padding: 60px 0;
  border-top: 3px solid $bgfoot;
  border-bottom: 3px solid $bgfoot;
}

.prod-item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

.prod-item h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 20px;
}

.prod-item h2::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor;
  border-radius: 50%;
  margin: 20px auto;
  border: 5px solid $bgsec;
  box-shadow: 0 0 0 5px currentColor;
}

h2.paulista::before {
  color: $brown;
}

h2.carioca::before {
  color: $orange;
}

h2.mineiro::before {
  color: $yellow;
}

.prod-item p {
  font-size: 0.875em;
  line-height: 1.4em;
}

.btn-prod {
  width: 180px;
  border: 3px solid $darkbrown;
  color: $darkbrown;
  text-decoration: none;
  display: block;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 0;
}

@media (min-width: 740px) and (max-width: 980px) {
  .produtos .container {
    max-width: 720px;
  }
  .prod-item {
    width: 220px;
  }
}

@media (max-width: 739px) {
  .produtos .container {
    max-width: 300px;
  }
  .prod-item {
    margin: 0 auto 20px auto;
  }
}
