@import "vars";
@import "reset";
@import "menu";
@import "intro";
@import "about";
@import "produtos";
@import "locais";
@import "footer";

// responsive

@media only screen and (max-width: 739px){
    .main-menu{
      float:none;
      clear:both;
    }

.intro{
    padding:60px 0;
}
    
    } //fim media 739

@media only screen and (min-width: 740px) and (max-width:980px){
.sobre{
    
.sobre-content{
    width:100%;
    max-width: 780px;
}
}

.sobre-item{
    width:350px;
}

}